[submodule "UWBNetworkingPackage-LW"]
	path = UWBNetworkingPackage-LW
	url = https://github.com/UWB-ARSandbox/UWBNetworkingPackage-LW.git
[submodule "Resources"]
	path = Resources
	url = https://github.com/UWB-ARSandbox/Resources.git
